---
import '../styles/components/video-player.css';

interface Props {
  tmdbId: number;
  showType: string;
  title: string;
  showSlug: string;
  season?: number;
  episode?: number;
}

const { tmdbId, showType, title, showSlug, season = 1, episode = 1 } = Astro.props;

const initialSrc =
  showType === 'movie'
    ? `https://www.vidking.net/embed/movie/${tmdbId}`
    : `https://www.vidking.net/embed/tv/${tmdbId}/${season}/${episode}`;
---

<div
  class="player-wrap"
  id="player-wrap"
  data-slug={showSlug}
  data-type={showType}
  data-tmdbid={tmdbId}
  data-season={season}
  data-episode={episode}
>
  <iframe
    id="player-iframe"
    class="player-iframe"
    src={initialSrc}
    allowfullscreen
    allow="autoplay; fullscreen; picture-in-picture"
    referrerpolicy="origin"
    title={`Video: ${title}`}
  ></iframe>
</div>

<script>
  import { initVideoPlayer } from '../scripts/videoPlayer';
  initVideoPlayer();
</script>
